*.log
**/*/spec.ts
demo/**
docs/**


node_modules/karma
node_modules/jasmine-core
node_modules/karma-chrome-launcher
node_modules/karma-coverage
node_modules/karma-jasmine
node_modules/karma-jasmine-html-reporter
node_modules/nodemon